
<%= form_tag businesses_path, :method => 'get' do %>
<% hidden_field_tag :direction, params[:direction] %>
<% hidden_field_tag :sort, params[:sort] %>
<p>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<table class="striped", "responsive-table">
     <thead>
       <tr>
           <th><%= sortable "name" %></th>
           <th><%= sortable "category_name", "Category" %></th>
           <th><%= sortable "phone" %></th>
           <th><%= sortable "email" %></th>
           <th><%= sortable "business_location", "Location" %></th>
       </tr>
     </thead>

    <tbody>
      <% @businesses.each do |b| %>
       <tr>
         <td><%=b.name%></td>
         <td><%=b.category_name%></td>
         <td><%=b.phone%></td>
         <td><%=b.email%></td>
         <td><%=b.business_address%></td>
       </tr>
       <% end %>
     </tbody>
   </table>



<!-- <%#= form_tag businesses_path, multipart:true do %>
<%#= file_field_tag :file %>
<#% submit_tag 'Import' %>
<#% end %> -->
